body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3,h4, p {
  font-family: "Open Sans",sans-serif;
  margin: .5em;
  text-align: center;
}
div{
  font-family: "Open Sans",sans-serif;
  text-align: center;
}

button {
  border: 0;
  padding: 1em 1em;
  margin: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
}

.control__new-round {
  background: RGB(61, 215, 19);
}

.control__reset {
  background: RGB(215, 19, 19);
}
.control {
	margin: 30px 0;
}

.control__new-round, .control__reset {
	border: none;
	outline: none;
	font: inherit;

	cursor: pointer;
	transition: background-color .3s ease;

	width: 200px;
	height: 50px;
	padding: 0;
	font-size: 28px;

	color: #fff;
}
